.border-none{
	border: none;
}
.brand{
	font-size:2em; 
	margin-left:1em;
}
.Chip{
	display: inline-block;
	background: #f5f5f5;
	border-radius: 15px;
	padding: 0.2em 0.4em 0.2em 1.3em;
	margin: 0 0.7em 0.5em 0.7em;
}
.Chip span{
	display: block;
}
.Chip-phone, .Chip-options{
	display: inline-block;
	vertical-align: top;
}
.Chip-options{
	margin-left: 0.5em;
}
.errors{
	margin: -1em 0 1em 0;
}
.error-helper{
	color: #F44336;
}
.fix-padding-left{
	padding-left: 72px !important;
}
.icon-mini{
	border-radius: 50%;
	cursor: pointer;
	font-size: 1.4em !important;
	margin:0.2em;
	padding: 0.3em;
}
.icon-mini:hover{
	background: #f5f5f5;
}
.main{
	margin-top:-10em;
}
.margin-none{
	margin: 0 !important;
}
.loader, .btn-floating-helper{
	display: none;
}
.nav-bottom{
	padding-bottom: 15em;
}
.paddingable{
	padding: 2em;
}
.padding-none{
	padding: 0 !important;
}
.responsive{
	width: 70%;
}





