{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="csrf-token" content="{{ csrf_token }}">
	<title>ReactDiary</title>
	<link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
</head>
<body>
	<div id="root"></div>
	<script src="{% static 'js/app.min.js' %}"></script>
		
		<!--nav class="teal nav-bottom">
			<a href="#contacts" class="js-list brand">BACKDIARY</a>
			<ul class="right">
				<li><a href="#contacts/add" class="js-new"><i class="material-icons small">add</i></a></li>
				<li><a href="#contacts" class="js-list"><i class="material-icons small">subject</i></a></li>
				<li><a href="#contacts" class="js-list"><i class="material-icons small">refresh</i></a></li>
				<li><a href="#" class="js-close"><i class="material-icons small">clear</i></a></li>
			</ul>
		</nav>

		<div class="container main row">
			<div class="col s12 white z-depth-1">
				<div id="main-region">
					<ul class="collection with-header border-none">
						<li class="collection-header">
							<h5>Usuarios</h5>
						</li>
						<div class="content">
							<li class="collection-item avatar fix-padding-left">
								<img src="#" alt="Usuario" class="circle">
								<span class="title">Usuario</span>
								<p>Nombre Apellido</p>

								<a href="#!" class="secondary-content">
									<i class="material-icons icon-mini small grey-text">edit</i>
									<i class="material-icons icon-mini small grey-text">delete</i>
									<i class="material-icons icon-mini small grey-text">send</i>
								</a>
							</li>
							<li class="collection-item avatar fix-padding-left">
								<i class="material-icons circle teal">clear</i>
  								<span class="title">No hay contactos registrados</span>
							</li>
							<li class="collection-item">
								<h5 class="center-align">Cargando...</h5>
								<div class="progress">
									<div class="indeterminate"></div>
								</div>
							</li>
						</div>
					</ul>
				</div>
			</div>
		</div>

		<div class="container main row">
			<div class="col s12 white z-depth-1">
				<div id="main-region">
					<div class="content">
						<form action="" class="section paddingable">
							<div class="row">
								<div class="col s12">																
									<h5>Crear usuario</h5>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12 m6">
									<input id="contact-first_name" name="first_name" type="text" class="validate" value="<%= first_name %>">
									<label for="contact-first_name">First name:</label>
								</div>
								<div class="input-field col s12 m6">
									<input id="contact-last_name" name="last_name" type="text" class="validate" value="<%= last_name %>">
									<label for="contact-last_name">Last name:</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12 m6">
									<input id="contact-username" name="username" type="text" class="validate" value="<%= username %>">
									<label for="contact-username">Username:</label>
								</div>
								<div class="input-field col s12 m6">
									<input id="contact-email" name="email" type="text" class="validate" value="<%= email %>">
									<label for="contact-email">Email:</label>
								</div>
							</div>
							<div class="row">
								<div class="col s12 right-align">								
									<button class="btn btn-primary js-submit">GUARDAR</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div-->
</body>
</html>